.videos{
    flex:0.8;
    padding: 40px 20px;
    padding-bottom: 0;
}
.videos>h2{
    margin-left:5px;
    margin-bottom:20px;
}
.recommendedVideos{
    flex:0.8;
    padding: 40px 20px;
    padding-bottom: 0;

}
.recommendedVideos>h2{
    margin-left: 5px;
    margin-bottom: 20px;
}
.dispaly__videos{
    display: flex;
    flex-wrap: wrap;
}
.videoCard{
    width:270px;
    margin-bottom: 40px;

}
.videoCard__thumbnail{
    height: 140px;
    width:250px;

}